body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1.pre {
    font-size: 1.5rem;
    font-weight: bold;
}

a {
    color: #000000;
    text-decoration: underline;
}

.cs-nav-link {
    color: #696969 !important;
    text-decoration: none !important;
    transition: .3s;
}

.cs-nav-link:hover {
    font-weight: bold;
}

.cs-nav-link-active {
    color: #4169e1 !important;
    font-weight: bold;
    text-decoration: none !important;
    transition: .3s;
}

.cs-nav-link-active:hover {
    color: #21377a !important;
}

.cs-to-start {
    font-size: 2em;
}

.textsection-space {
    margin-top: 120px !important;
}

footer {
    font-size: .8em;
    background-color: #eeeeee;
    padding-bottom: 15px;
}

.cs-footer-link {
    color: #385DCC;
    transition: .3s;
}

.cs-footer-link:hover {
    color: #223570;
}

@media (max-width: 955px) {
    .company-logo {
        width: 300px;
    }
}

@media (max-width: 780px) {
    header {
        font-size: .9em;
    }
    footer {
        font-size: .8rem;
    }
}

@media (max-width: 500px) {
    body {
        font-size: .9rem;
    }
    nav {
        font-size: .9rem;
        text-align: center;
    }
    nav a {
        white-space: nowrap;
    }
    footer {
        width: 100%;
    }
}